.App {
  font-family:poppins,helvetica neue,Arial,sans-serif;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #EEEEEE; /*rgba(240, 240, 240, 0.8);*/
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}


.spinner {
  position: absolute;
 width: 300px;
 height: 200px;
 z-index: 15;
 top: 50%;
 left: 50%;
 margin: -100px 0 0 -100px;
}

/** UPLOAD **/
#UploadHeader {
  position: absolute;
  bottom:0;
  min-height: 100px;
  background-color: #ccc;
  width: 100%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#UploadHeader .btn {
  width: 100%;
}

/** MENU **/
.outer {
  display: table;
  position: absolute;
  left: 0;
  height: 90%;
  width: 100%;
}

.middle {

  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;

  /*whatever width you want*/
}

.search {
  font-size: 16px;
  width: 100%;
}

.search_2, .custom_input {
  font-size: 14px;
  width: 100%;
}

.search_2 input, .custom_input input {
  width: 90%;
  padding: 10px 90px;
  padding-right: 20px;
  border: 0;
  background: transparent;
  border-bottom: 1px solid black;
  height: 40px;
}

.search input {
  font-weight: bold;
  width: 90%;
  padding: 10px 95px;
  padding-right: 200px;
  border: 0;
  background: transparent;
  border: 1px solid black;
  /*  border-bottom: 1px solid black;*/
  height: 40px;
}

.search_2 input {
  width: 100%;
}

.custom_input input {
  padding: 10px 10px;
  width: 100%
}

.custom_input {
  margin-top: 20px;
}

.search div, .search_2 div, .custom_input div {
  margin-left: 10px;
  line-height: 40px;
  position: absolute;
  margin-right: 5px;
}

.after-input {
    display:inline;
    margin-left: -150px !important;
    width: 200px;
}

.after-input2 {
    display:inline;
    margin-left: -120px !important;
    width: 200px;
}

.search input:focus, .submit_input input:focus {
  outline: 0;
  background:transparent;
}

.search button, .search_2 button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 10%;
  background: transparent;
  border: 1px solid #000;
  border-left: none;
}

.submit_input button {
  width: 100%;
  margin: 20px auto;
  cursor: pointer;
  height: 40px;
  background: transparent;
  border: 1px solid #000;
}

.search button:hover, .submit_input button:hover {
  background: #dedede;
}
.search button:active, .submit_input button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.seperator {
  margin-top: 20px;
}

.menu-wrapper {
  margin: 0 auto;
  width: 95%;
  border: 1px solid #ccc;
  padding: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.edit-view-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu-btn-wrapper  {
  display: flex;
  align-items: stretch;
}
.menu-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #333;
  background-color: #eee;
  font-size: 14px;
}

.menu-btn b{
  font-size: 16px;
}

.menu-btn:hover {
  background-color: #dedede;
  cursor:pointer;
}

.menu-btn i {
  font-size: 40px;
  margin-right: 10px;
}

.menu-content-container{
}

.badge-new {
  background-color: rgb(68, 157, 68);
  border: 1px solid rgb(57, 132, 57);
  color: #fff;
  border-radius: .25em;
  padding: .2em .6em .3em;;
  margin-right: 10px;
  font-weight: 700;
}

.badge-new.indropdown {
  float:right;
  line-height: 12px;
}

.search-bar {
  width: 100%
}

.dropdown-menu.main.closed {
  display:none;
}

.dropdown-menu.main.open {
  display: block;
  font-size: 14px;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  max-height: 200px;
  overflow-y: hidden;
}


#menuBtnLeft {
text-align: left;
display:block;
width: 100%;
margin-bottom: 20px;
}

#menuBtnLeft i {
  float: left;
  line-height: 24px;
  margin-right: 10px;
}

#menuBtnLeft:hover {
  cursor: pointer;
  color: #0069d9;
}

/**MAIN**/

#ToolPageHeader {
  padding: 10px;
  color: #fff;
  min-height: 10%;
  width: 100%;
  background-color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Main {

}


.containerer {
 margin-right: auto;
 margin-left: auto;
}
@media (min-width: 1200px) {
  .containerer{
    max-width: 2000px;
  }
}


.left {
  float:left;
  width: 50%;
}

.right {
  float:right;
  width: 50%;
}

.video-box {
}

.tool-box {
  z-index: -1;
  position: absolute;
  width: 50%;
  color: #FFFFFF;
  height: 100%;
  background-color: #EEEEEE;
  overflow-y: hidden;
  overflow-x: hidden;
}

.splitter {
  position: absolute;
  width: 1px;
  color: #000;
  height: 100%;
  background-color: #000;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 3;

  background: rgba(238,238,238,1);
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,0.98) 10%, rgba(158,158,158,0.91) 49%, rgba(158,158,158,0.91) 50%, rgba(238,238,238,0.84) 90%, rgba(238,238,238,0.82) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(10%, rgba(238,238,238,0.98)), color-stop(49%, rgba(158,158,158,0.91)), color-stop(50%, rgba(158,158,158,0.91)), color-stop(90%, rgba(238,238,238,0.84)), color-stop(100%, rgba(238,238,238,0.82)));
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,0.98) 10%, rgba(158,158,158,0.91) 49%, rgba(158,158,158,0.91) 50%, rgba(238,238,238,0.84) 90%, rgba(238,238,238,0.82) 100%);
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,0.98) 10%, rgba(158,158,158,0.91) 49%, rgba(158,158,158,0.91) 50%, rgba(238,238,238,0.84) 90%, rgba(238,238,238,0.82) 100%);
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,0.98) 10%, rgba(158,158,158,0.91) 49%, rgba(158,158,158,0.91) 50%, rgba(238,238,238,0.84) 90%, rgba(238,238,238,0.82) 100%);
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(238,238,238,0.98) 10%, rgba(158,158,158,0.91) 49%, rgba(158,158,158,0.91) 50%, rgba(238,238,238,0.84) 90%, rgba(238,238,238,0.82) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0 );

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.1);

}


.middle-row  {
  display: table;
  position: absolute;
  /*top: 0;*/
  height: 100%;
  width:50%;

  /*optional for inline video*/
  height: 50%;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  left: 2.5%;
  top: 25%;
}

.middle-col {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  padding-left: 10px;
  padding-right: 30px;
}

.video-box {
  width: 50%;
}

#video-player  {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.auto-resizable-iframe {
  max-width: 420px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  /*position: relative;*/
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


/*@media (min-width: 576px) {
  #video-player {
    width: 500px;
  }
}
@media (min-width: 768px) {
  #video-player {
    width: 500px;
  }
}
@media (min-width: 992px) {
  #video-player  {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  #video-player {
    width: 800px;
  }
}*/


.tool-box:hover {
  cursor:pointer;
}

.editmode {
  background-color: #CCCCCC;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

/** ToolBox **/

#ToolBoxWrapper {
  position:relative;
  top: -100%;
  left: -140%;
  width: 400%;
  height: 400%;
}

#ToolBox {
  position: relative;
  cursor: move;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 30%;
/*transform: scale(1.5);*/
}


#ToolBox:hover {
  cursor:pointer;
}

#edit-tool-box {
  position: relative;
  z-index: 7;
  float:right;
  padding-top: 5px;
  padding-right: 15px;
  color: #000000;
}

#menuBtn {
text-align: center;
display:block;
width: 100%;
}

#menuBtn i {
  float: left;
  line-height: 24px;
}

#menuBtn:hover {
  cursor: pointer;
  color: #0069d9;
}

#edit-tool-box .btn {
  display:block;
  text-align: center;
  margin: 5px auto;
  width: 100%;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

#edit-tool-box .dropdown-toggle {
  min-width: 100px;
  width: 100%;
}

.dropdown-toggle::after {
  vertical-align: .155em;
}

.dropdown-menu.closed {
  display:none;
}

.dropdown-menu.open {
  display: block;
  font-size: 14px;
  width: 150px;
  left: -60px;
  max-height: 200px;
  overflow-y: scroll;
}

.dropdown-item {
  padding: .25rem 1.0rem;
}

.dropdown-item:hover {
    background-color: #CCC;
}

#edit-tool-box i:hover{
  cursor:pointer;
}

#edit-tool-box i:active{
  opacity: 0.3;
  cursor:pointer;
}

.tool-box-title-el {
  position: relative;
  z-index: 2;
}

.tool-box-logo-el {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.4;
}

.tool-box-text-el {
  color: #000000;
  position: absolute;
  z-index: 2;
  opacity: 1.0;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.tool-box-container-el {
  position: absolute;
  z-index: 2;
  padding: 10px;
  border: 1px solid #000000;
}

.tool-box-container-el > img {
  margin-left: 5px;
}

.tool-box-container-el > img:first-child {
  margin-left: 0px;
}

.tool-box-group-el {
  position: absolute;
  z-index: 1;
  padding: 10px;
  border: 1px dashed #000000;
  touch-action: none;
}

.group-resize-handle {
  position:absolute;
  z-index: 6;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #000000 transparent transparent transparent;
}

.tool-box-container-el > .tool-box-logo-el,
.tool-box-container-el > .tool-box-text-el
.tool-box-group-el > .tool-box-logo-el,
.tool-box-group-el > .tool-box-text-el {
  position: static;
}

.tool-box-el-close {
  position: absolute;
  content: "x";
  height: 15px;
  width: 15px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 15px;
  z-index:7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: -8px;
  margin-left: -8px;
}

.wiggle:nth-child(1n) {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake1 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.wiggle:nth-child(2n) {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake2 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.wiggle:nth-child(3n) {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake2 0.4s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake1 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake2 {
  0% { transform: translate(-1px, -1px) rotate(0deg); }
  10% { transform: translate(1px, 2px) rotate(1deg); }
  20% { transform: translate(3px, 0px) rotate(-1deg); }
  30% { transform: translate(-3px, -2px) rotate(0deg); }
  40% { transform: translate(-1px, 1px) rotate(-1deg); }
  50% { transform: translate(1px, -2px) rotate(1deg); }
  60% { transform: translate(3px, -1px) rotate(0deg); }
  70% { transform: translate(-3px, -1px) rotate(1deg); }
  80% { transform: translate(1px, 1px) rotate(-1deg); }
  90% { transform: translate(-1px, -2px) rotate(0deg); }
  100% { transform: translate(-1px, 2px) rotate(1deg); }
}

.jtk-endpoint {
  z-index: 3;
}

.connectorInputField {
  position:absolute;
  z-index: 2001;
  width: 60px;
  height: 60px;
}

.el-used {
    opacity: 1.0;
}

.el-active {
  transform: scale(1.2,1.2);
  border: 2px solid #4195fc; /* some kind of blue border */
  /* make it glow! */
  -webkit-box-shadow: 0px 0px 8px #4195fc;
     -moz-box-shadow: 0px 0px 8px #4195fc;
          box-shadow: 0px 0px 8px #4195fc; /* some variation of blue for the shadow */
}

#ContextMenu {
  position: absolute;
  z-index: 5;
  /*border: 1px solid #000000;*/
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.closeContextMenuBtn {
  margin-top: -5px;
  margin-bottom: 5px;
}
.closeContextMenuBtn i:hover {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  cursor:pointer;
}

.grid-wrapper {
  height: 110px;
  overflow-y:scroll;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #111111;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
}

.grid-item img {
  width: 40px;
  height: 40px;
}

.grid-item:hover {
  cursor: pointer;
  background-color: #111;
}

.list-group .list-group-item {
  background-color: #FFFFFF;
}

.list-group .list-group-item:hover {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor:pointer;
}

.list-group .list-group-item i:last-child {
  margin-left: 5px;
}

.file-field input.file-path {
    width: 100%;
    height: 36px;
}

.md-form input{
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 1px solid #ced4da;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
}

.md-form input:focus:not([readonly]) {
  border-color:#4285f4
}

.md-form input{
  text-align:center;
  width: 100%;
}

.file-path-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-file > .btn {
  width: 100%;
  margin-bottom: 10px;
}

.seperator {
  margin-top: 20px;
}

.context-menu-img-preview {
  text-align:center;
}

#logo0 {
left: 150px;
}

#logo1 {
  top: 20px;
  left: 240px;
}

#logo2 {
  top: 20px;
  left: 0px;
}

#logo3 {
  top: 30px;
  left: 0px;
}

/***** Tooltip *****/
.item-hints{
  position: absolute;
  /*height: 500px;
  width: 500px;
  margin: 0px 0px;*/
}
.item-hints .hint {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  }
.item-hints .hint::before{ /* //rotated squre */
  width: 30px;
  height: 30px;
  z-index: 2;
  -webkit-clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.item-hints .hint::after{ /* //green glow */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 2px;
  height: 2px;
  z-index: 1;
  /*-webkit-box-shadow: 0 0 50px 30px rgba(72,170,72,.3);
  box-shadow: 0 0 50px 30px rgba(72,170,72,.3);
  -webkit-animation: home_hero_item_hints_glow 2s cubic-bezier(.25,.1,.2,1) infinite;
  animation: home_hero_item_hints_glow 2s cubic-bezier(.25,.1,.2,1) infinite;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;*/
}
@-webkit-keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
  }
}
@keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
  }
}
/*
.item-hints .hint-dot {
  z-index: 3;
  border: 1px solid #000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  -webkit-transform: translate(-0%,-0%) scale(.95);
  transform: translate(-0%,-0%) scale(.95);
  -webkit-animation: home_hero_item_hints_border 2s linear infinite;
  animation: home_hero_item_hints_border 2s linear infinite;
  margin: auto;
}*/
@-webkit-keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }
  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}
@keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }
  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}
.item-hints .hint-radius {
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: background-color,opacity,visibility,-webkit-transform;
  transition-property: background-color,opacity,visibility,-webkit-transform;
  transition-property: background-color,opacity,visibility,transform;
  transition-property: background-color,opacity,visibility,transform,-webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
  transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
}
.item-hints .hint:hover .hint-radius {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
}
.item-hints .hint-content {
  background-color: #fff;
  color: #000;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .7s ease,visibility .7s ease;
  transition: opacity .7s ease,visibility .7s ease;
  pointer-events: none;
  visibility: hidden;
  pointer-events: none
}
.item-hints .hint:hover .hint-content {
  background-color: #fff;
  color: #000;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 1;
  visibility: visible !important;
  -webkit-transition: opacity .7s ease,visibility .7s ease;
  transition: opacity .7s ease,visibility .7s ease;
  pointer-events: none;
  visibility: hidden;
  pointer-events: none;
  -webkit-box-shadow: 4px 4px 17px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 17px -2px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 17px -2px rgba(0,0,0,0.75);
}
.item-hints .hint-content::before {
  width: 0px;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #000;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before {
  width: 300px;
  transition: width 0.4s;
}
.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 0;
  left: 0;
  width: 80px;
  content: '';
  background-color: #000;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}
.item-hints .hint[data-position="4"] .hint-content {
  bottom: 85px;
  left: 50%;
  margin-left: 56px;
}

.hint-content-inner {
  padding: 8px;
}
